:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;

  /* font */
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: var(--light-cyan);
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}